@import '../../../styles/app-theme';

$dark-pink-md-primary: (
  50 : #fce4ec,
  100 : #f8bcd0,
  200 : #f48fb1,
  300 : #f06292,
  400 : #ec407a,
  500 : #e91e63,
  600 : #e61a5b,
  700 : #e31651,
  800 : #df1247,
  900 : #d90a35,
  A100 : #ffffff,
  A200 : #ffd0d8,
  A400 : #ff9dae,
  A700 : #ff8498,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$dark-pink-md-accent: (
  50 : #eceff1,
  100 : #cfd8dc,
  200 : #b0bec5,
  300 : #90a4ae,
  400 : #78919c,
  500 : #607d8b,
  600 : #587583,
  700 : #4e6a78,
  800 : #44606e,
  900 : #334d5b,
  A100 : #abe1ff,
  A200 : #78ceff,
  A400 : #45bcff,
  A700 : #2bb3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

@include app-theme($dark-pink-md-primary, $dark-pink-md-accent, true);

